.item {
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
}
.item:hover {
  background-color: hsl(0, 0%, 15%);
}

.image {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: start;
  margin-left: 5px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.artists {
  display: flex;
  color: gray;
  font-size: 14px;
}
.selected {
  background-color: hsl(0, 0%, 30%);
}
.selected:hover {
  background-color: hsl(0, 0%, 30%);
}
