.song-container {
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;
  padding: 10px 20px;
  margin: 10px 0;
  width: 80%;
  background-color: hsl(0, 0%, 15%);
  color: white;
}
.song-container h2 {
  font-size: 2rem;
  margin: 5px;
}
.song-container p {
  font-size: 2rem;
  margin: 5px;
}
.song-list {
  padding: 0;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
