.songContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  padding: 10px 20px;
  margin: 10px 0;
  width: 80%;
  background-color: hsl(0, 0%, 15%);
  color: white;
}
.songContainer h2 {
  font-size: 2rem;
  margin: 5px;
}
.songContainer p {
  font-size: 2rem;
  margin: 5px;
}
.deleteSongButton {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.deleteSongButton:hover {
  background-color: hsl(0, 0%, 35%);
  transition: ease 0.25s;
  cursor: pointer;
}
.songList {
  padding: 0;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
