.songContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  padding: 10px 20px;
  margin: 10px ;
  width: 80%;
  height: 50px;
  background-color: hsl(0, 0%, 15%);
  color: white;
}
.ranking {
  font-size: 2rem;
  margin: 5px;
}
.songName {
  font-size: 1.5rem;
  margin: 5px;
}
.buttonBase {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.buttonBase:hover {
  background-color: hsl(0, 0%, 35%);
}

.playButton {
  composes: buttonBase;
  font-size: 2rem;
}

.deleteSongButton {
  composes: buttonBase;
  font-size: 3rem;
}

.songList {
  padding: 0;
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
