.navBar {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0;
  align-items: center;
}
.homeButton {
  color: white;
  background-color: black;
  border: none;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeButton:hover {
  background-color: hsl(0, 0%, 25%);

  transition: ease 0.25s;
  cursor: pointer;
}
